body{
    padding: 0px;
    margin: 0px;
    background-color:#c5c3c6;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 120px;
    padding: 20px;
    border-bottom: 3px solid #2a3a46;
    background-color: #4c5c68;
    color: #b0e4db;
}
.header h1{
    font-size: 80px;
    font-family: 'Varela Round', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-container{
    border: 3px solid #2a3a46;
    height: 450px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}
.grid-item{
    height: 150px;
    min-width: 150px;
    flex:1;
}
.marker-text{
    color: #46494B;
    font-size: 100px;
    font-family: 'Varela Round', sans-serif;
}

.grid-item button{
    height: 100%;
    width: 100%;
}

.display-box{
    margin: 25px 0px;
    color: #46494B;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
}
.restart{
    font-family: 'Varela Round', sans-serif;
    margin-top: 25px;
    border-radius: 5px;
    border: 3px solid black;
    font-size: 50px;
    background-color: #4c5c68;
    color: #b0e4db;
    height: 80px;
    width: 230px;
}